@font-face {
	font-family: 'Futura Light';
	src: local('Futura Light'),
		url(./fonts/Futura_Light_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Light Italic';
	src: local('Futura Light Italic'),
		url(./fonts/Futura_Light_Italic_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Book';
	src: local('Futura Book'),
		url(./fonts/Futura_Book_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Book Italic';
	src: local('Futura Book Italic'),
		url(./fonts/Futura_Book_Italic_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Medium';
	src: local('Futura Medium'),
		url(./fonts/Futura_medium_bt.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Medium Italic';
	src: local('Futura Medium Italic'),
		url(./fonts/Futura_Medium_Italic_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Heavy';
	src: local('Futura Heavy'),
		url(./fonts/Futura_Heavy_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Futura Heavy';
	src: local('Futura Heavy'),
		url(./fonts/Futura_Heavy_Italic_font.ttf) format('truetype');
}
