// $input ds1: id STRING IDENTIFIER, sex STRING MEASURE
define datapoint ruleset sexRule (variable sex) is
    myrule : sex in {"M", "F"} errorcode "bad_sex"
end datapoint ruleset;
ds_check := check_datapoint(ds1, sexRule);
